{% extends "base.html" %}
{% block main_class %}login-page{% endblock %}
{% block content %}
<section class="login-panel">
  <h1>{{ settings.site_title }}</h1>
  <form method="post" class="login-form">
    <label>
      帳號
      <input name="username" autocomplete="username" required autofocus>
    </label>
    <label>
      密碼
      <input name="password" type="password" autocomplete="current-password" required>
    </label>
    <button type="submit">登入</button>
  </form>
</section>
{% endblock %}
